a {
  color: #838383;
  margin-top: 30px;
  text-decoration: none;
}

h1 {
  color: #FCB100;
  font-weight: bolder;
  margin-bottom: 20px;
}

h5 {
  color: #838383;
}

button {
  border-radius: 20px;
  padding: 0 50px;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

.logo-img {
  height: 100px;
  margin-bottom: 20px;
}

.background {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 10%;
}

.login-container {
  border-radius: 10px;
  box-shadow: 0 0 20px 1px #e4e4e4;
  display: flex;
  width: 90vh;
  height: 45vh;
}

.text-container {
  align-items: center;
  background-color: #212121;
  border-radius: 10px 0 0 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 30%;
}

.form-container {
  align-items: center;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  width: 70%;
}

.text-container h1 {
  color: #fff;
}

.text-container button {
  background-color: transparent;
  border: 1px solid #fff;
}

.mat-raised-button {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 10px;

  .google-wrapper {
    display: flex;

    .google-img {
      margin-right: 10px;
      height: 30px;
      width: 30px;
      background-size: 100% 100%;
      background-image: url("/assets/google-logo.png");
    }
  }
}

