<mat-toolbar>
  <div class="toolbar-elements">
    <div class="toolbar-left">
      <button
      mat-icon-button
      class="example-icon"
      (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Masterpiece</span>
    </div>
    <div class="toolbar-right">
      <a (click)="logout()">Wyloguj</a>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <div class="child-wrapper">
    <app-editor-wrapper>
    </app-editor-wrapper>
  </div>
</mat-drawer-container>


