.child-wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.toolbar-elements{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

mat-drawer-container{
  background-color: transparent;
  height: 90%;
  padding-top: 40px
}

