<div class="main">
  <div class="spinner" *ngIf="!(users$ | async)">
    <mat-spinner
    [diameter]="100">
    </mat-spinner>
  </div>
  <div *ngIf="users$ | async">
    <div class="users-header">
      <p class="users-header-text">Sprawdź galerie innych użytkowników</p>
      <mat-icon class="users-header-icon">image</mat-icon>
    </div>
    <div class="users">
      <mat-list role="list">
        <mat-list-item
        role="listitem"
        *ngFor="let user of users$ | async">
          <div class="list-item">
            <div class="list-item-left">
              <mat-icon class="user-icon">palette</mat-icon>
              <p>{{ user.displayName }}</p>
            </div>
            <div class="list-item-right">
              <button
              class="users-button"
              mat-raised-button
              (click)="onProfileClick(user.userId)">
                Profil
                <mat-icon>person</mat-icon>
              </button>
              <button
              class="users-button"
              mat-raised-button
              (click)="onGalleryClick(user.userId)">
                Galeria
                <mat-icon>collections</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
