button {
  border-radius: 20px;
  color: #fff;
  padding: 0 50px;
}

.login {
  background-color: #FCB100;
}

.register {
  background-color: #FCB100;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  width: 300px;
}

.submit-button {
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
}

mat-spinner{
  margin: 5px 0;
}

