/* You can add global styles to this file, and also import other style files */
@import "~tui-image-editor-angular/src/theme.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.snackbar {
  background: white;
  color: #212121;
  display: flex !important;
  justify-content: center;
  font-weight: bold;
  padding: 20px 15px !important;
}

.preset-color {
  display: block !important;
  float: left !important;
}

.editor-start-button {
  padding: 4px 0 0 3px;
  margin-right: -1px;
}

.editor-start-button:hover {
  cursor: pointer;
}

.editor-first-button-section {
  height: 44px;
}

.editor-container {
  border-radius: 25px;
}

.tui-image-editor-item.active {
  background-color: transparent !important;
}

.color-picker {
  position: fixed !important;
  top: 28% !important;
  left: 59% !important;
}

.editor-footer {
  background: #FCB100 !important;
  border-radius: 0 0 25px 25px;
}

.editor-header {
  border-radius: 25px 25px 0 0;
  background: #FCB100 !important;
}

.editor-footer-buttons {
  background: #212121;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px;
}

tui-image-editor-menus-buttons-history {
  display: none;
}

tui-image-editor-menus-buttons-reset {
  display: none;
}

